.blue {
   background-color: #54bdfd
}

.green {
   background-color: #51fb88
}

.yellow {
   background-color: #f0fc97
}

.red {
   background-color: #fc4f4f
}

.rook {
   background-image: linear-gradient(120deg, #54bdfd, #51fb88, #f0fc97, #fc4f4f, #54bdfd, #51fb88, #f0fc97, #fc4f4f) 
}

.card {
   width: 110px;
   padding: 7px;
   margin-top: 4px;
   border-radius: 6px;
   color: black;
   font-size: 0.9rem;
}

button {
   margin: 4px;
   padding: 4px;
}

select {
   margin: 4px;
   padding: 4px; 
}

body {
   font-family: "Wotfard", Futura, -apple-system, sans-serif;
   background: rgb(13, 15, 18) none repeat scroll 0% 0%;
   color:hsl(210, 10%, 90%)
}

ul {
   padding-left: 0px;
   margin-left: auto;
   margin-right: auto;
}